.tableWrapper {
    display: flex;
    align-items: center;
    padding: 10px;
    background: linear-gradient(90deg, #940101 0%, #4560FD 100%);
    color: #fff;
    border-radius: 8px 8px 0px 0px;
  }
  

  .tableWrapperHeader {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 20vh;
    background: #001529;
    color: white;
    border-radius: 8px 8px 0px 0px;
  }
  

  .table {
    background: "#fff";
    border-radius: 0px 0px 8px 8px;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
  }
  
  .tableHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    min-width: 300px;
    cursor: pointer;
    position: relative;
    overflow: hidden; 
    background-color: #001529; 
  }
  
  .tagIcon {
    flex: 1;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .tableWrapper, .tableWrapperHeader {
      border-radius: 50px !important;
    }
    .tableHeader {
      display: block;
    }
    .tagIcon {
      display: none;
    }
  }
  
  