.casino-gallery {
    padding: 16px;
    background-color: #f0f0f0;
  }

.ant-card-body{
    padding: 0px !important;
}

.live-casino-image{
    height: 120px;
    /* border-radius: 8px !important; */
    border: 4px solid transparent; 
    border-image: linear-gradient(to right, #b87333, #f0d6a1) 1;
}

.ant-card-cover{
    border-radius: 8px !important;
}