.tableWrapper {
  display: flex;
  align-items: center;
  padding: 10px;
  background: linear-gradient(90deg, #940101 0%, #4560FD 100%);
  background: linear-gradient(90deg, #940101 0%, #4560FD 100%);
  color: #fff;
  border-radius: 8px 8px 0px 0px;
}

.table {
  background: "#fff";
  border-radius: 0px 0px 8px 8px;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

.tableHeader {
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 8px;
  min-width: 300px;
  cursor: pointer;
  position: relative;
  overflow: hidden; 
  background-color: rgba(12, 46, 55, 1); 
}

.tableHeader::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(28, 73, 150, 0.2); 
  transition: width 0.8s ease-in-out;
  z-index: 0; 
}

.tableHeader:hover::before {
  width: 100%; 
}


.tagIcon {
  flex: 1;
  text-align: center;
}

@media (max-width: 768px) {
  .tableHeader {
    display: block;
  }
  .tagIcon {
    display: none;
  }
}

.LiveWrapper{
  height: 70%;
  width: 7%;
  background-color: black !important;
  display: flex;
  margin-left: 1vw;
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.96);
  border-radius: 1vh;
}

.LiveSectionFirst{
  width: 60% !important;
  background-color: white !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LiveSectionSecond{
  width: 40% !important;
  background-color: rgba(151, 19, 19, 1);
}

.LiveCircle{
  background-color: rgba(100, 100, 100, 1);
  height: 50%;
  width: 30%;
  border-radius: 50%;
}

.LiveSectionSecond{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  font-family: poppins;
}