.topbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: black;
  border-bottom: 1px solid #dcdcdc;
  padding: 0 10px;
  height: 10vh;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-x: auto; 
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  z-index: 4000;

  
  &::-webkit-scrollbar {
    display: none;
  }
}

.topbar_item {
  position: relative;
  margin:0px 4px;
  font-size: 16px;
  font-weight: 500;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12vw;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 50%;
  white-space: nowrap;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: black;
  border : 5px solid rgba(12, 46, 55, 1);
 
  &:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }

  
  &.active {
    background-color: white;
    color: black;
    font-weight: bold;
  }



  @media (min-width: 400px) and (max-width: 600px) {
    width: 10vw;  
    margin:0px 6px;
    height: 5vh;  
  }
  
}


.topbar_badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #e63946;
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  animation: fadeInOut 2s infinite; 
}





@keyframes fadeInOut {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

