.topbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.5); /* 0.5 is the opacity (50%) */
  padding: 0 10px;
  height: 10vh;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-x: auto; 
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  z-index: 4000 !important;

  
  &::-webkit-scrollbar {
    display: none;
  }
}

.topbar_item {
  position: relative;
  margin:0px 4px;
  font-size: 16px;
  font-weight: 500;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14vw;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 50%;
  white-space: nowrap;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: black;
  border : 3px solid rgba(12, 46, 55, 1);
 
  &:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }

  
  &.active {
    background-color: white;
    color: black;
    font-weight: bold;
  }


  @media (max-width:400) {
    height: 7vh;
    width: 15vw;
  }

  @media (min-width: 400px) and (max-width: 600px) {
    width: 13vw;  
    margin:0px 6px;
    height: 6vh;  
  }
}


.topbar_badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #e63946;
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  animation: fadeInOut 2s infinite; 
}





@keyframes fadeInOut {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}


.menuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    flex-grow: 1; // Ensures the text takes remaining space
  }

  
}

.LiveWrapper {
  height: 3vh;
  width: 25%;
  display: flex;
  margin-left: 1vw;
  border-radius: 1vh;
}

.LiveSectionFirst {
  width: 60% !important;
  background-color: white !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.marker{
  height: 70%;
  width: 15%;
  color:transparent !important;
  background-color: black;
  animation: blink 01s infinite;
}

.LiveSectionSecond {
  width: 40% !important;
  background-color: rgba(151, 19, 19, 1);
}

.LiveCircle {
  background-color: rgba(100, 100, 100, 1);
  height: 50%;
  width: 30%;
  border-radius: 50%;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% {
    background-color: rgba(100, 100, 100, 1); /* Original color */
  }
  50% {
    background-color: red; /* Blinking red color */
  }
}


.LiveSectionSecond {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  font-family: poppins;
}

