.my-masonry-grid {
    display: flex;
    margin-left: -8px; /* Adjust based on Card margin */
    width: auto;
  }
  
  .my-masonry-grid_column {
    padding-left: 8px; /* Adjust based on Card margin */
    background-clip: padding-box;
  }
  
  .my-masonry-grid_column > div {
    margin-bottom: 16px;
  }
  