.game-gallery {
    padding: 16px;
    background-color: rgba(12, 46, 55, 1);
  }
  
  .image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    /* border: 2px solid #d9d9d9; */
    border: 8px solid transparent; 
    border-image: linear-gradient(to right, #b87333, #f0d6a1) 1;
    overflow: hidden;
    /* height: 200px;  */
  }
  
  .game-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  
  