.adminWrapper {
  height: 88vh;
  background-color: rgba(12, 46, 55, 1);
  display: flex;
}

.contentPage {
  width: 100%;
  height: 100%;
  color: white;
  padding: 2vw;
}

.AdminOverView {
  background: linear-gradient(
    90deg,
    rgba(12, 46, 55, 0.62) -56.52%,
    rgba(0, 0, 0, 0.62) 100%
  );
  height: 18vh;
  width: 100%;
  border-radius: 2vh;
  color: white;
  padding: 1vh;
}

.AdminOverView {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;

  .content {
    flex: 1 1 60%;
    font-family: "Poppins", sans-serif;
    font-size: clamp(16px, 2vw, 22px);
    font-weight: 600;

    .admin-text {
      color: red;
      font-weight: 600;
      font-size: clamp(20px, 3vw, 25px);
    }
  }

  .image {
    flex: 1 1 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: clamp(50px, 20%, 100px);
      height: auto;
    }
  }
}

.SideImage {
  width: 3%;
  height: 100%;
}

.Btn:hover {
  cursor: pointer;
}

.hide-scrollbar {
  overflow-y: auto;
  scrollbar-width: none;
  background-color: "pink !important";
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

[class^="ant-table"] {
  color: white !important;
  background: inherit !important;
}



[class^="ant-input-number-"] {
  color: black !important;
  background: white !important;
}

[class^="ant-picker"] {
  background-color: white;
}

[class^="ant-upload-list-item-name"] {
  color: white !important;
  background: inherit !important;
}

[class^="ant-table-thead"] {
  background: linear-gradient(
    90deg,
    rgba(12, 46, 55, 0.62) -56.52%,
    rgba(0, 0, 0, 0.62) 100%
  ) !important;
}
@media (max-width: 768px) {
  .adminWrapper {
    padding: 10px;
  }

  .Btn {
    height: 12vh !important;
    font-size: 14px;
  }

  .contentPage img {
    height: auto;
    max-width: 100%;
  }
}

// Styles for each button
.Btn {
  height: 15vh;
  width: 100%;
  border-radius: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease-in-out;

  // Mobile responsiveness
  @media (max-width: 768px) {
    height: 12vh;
    border-radius: 1.5vh;
  }

  
  @media (max-width: 1024px) {
    height: 13vh;
  }
}

.active {
  background: linear-gradient(
    90deg,
    rgba(12, 46, 55, 0.62) -56.52%,
    rgba(0, 0, 0, 0.62) 100%
  );
}

.inactive {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(113, 113, 113, 0.1) 100%
  );
}

// Icon color adjustments
.Icon {
  color: #78b771;
  font-size: 2rem;

  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.Label {
  font-size: 12px;
  font-weight: 600;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 10px;
  }
}
