.adminWrapper {
  height: 88vh;
  background-color: rgba(12, 46, 55, 1);
  display: flex;
}

.contentPage {
  width: 97%;
  height: 100%;
  color: white;
  padding: 2vw;
}

.AdminOverView {
  background: linear-gradient(
    90deg,
    rgba(12, 46, 55, 0.62) -56.52%,
    rgba(0, 0, 0, 0.62) 100%
  );
  height: 18vh;
  width: 100%;
  border-radius: 2vh;
  color: white;
  padding: 1vh;
}

.SideImage {
  width: 3%;
  height: 100%;
}

.Btn:hover {
  cursor: pointer;
}

.hide-scrollbar {
  overflow-y: auto;
  scrollbar-width: none;
  background-color: "pink !important";
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

[class^="ant-table"] {
  color: white !important;
  background: inherit !important;
}

[class^="ant-table-thead"] {
  background: linear-gradient(
    90deg,
    rgba(12, 46, 55, 0.62) -56.52%,
    rgba(0, 0, 0, 0.62) 100%
) !important;
}
@media (max-width: 768px) {
  .adminWrapper {
    padding: 10px;
  }

  .Btn {
    height: 12vh !important;
    font-size: 14px;
  }

  .contentPage img {
    height: auto;
    max-width: 100%;
  }
}

