.imageGrid {
    margin: 2vh;
}

.imageCard {
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;

  &:hover {
    transform: scale(1.05);
  }
}

.image {
  width: 80%;
  height: min(20vh, 120px);
  display: block;
  border-radius:2vh ;
}

// @media (max-width: 768px) {
//     .image {
//         height: 15vh;
//     }
// }