.headerWrapper{
    height: 10vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background: linear-gradient(90.23deg, #0C2E37 0.2%, #000000 129.15%);

    img{
        height: 100%;
        width: 35%;
        margin-right: 3vw;
    }
}

