.sidebarMenu {
  .ant-menu {
    background-color: #333 !important; // Sidebar background
    color: #fff !important; // Default text color
  }

  .ant-menu-item-selected {
    background-color: #444 !important; // Background for selected item
    color: #fff !important; // Text color for selected item
  }

  .ant-menu-item:hover {
    background-color: #555 !important; // Background color on hover
    color: #fff !important; // Text color on hover
  }

  .ant-menu-submenu-selected > .ant-menu-submenu-title {
    background-color: #444 !important; // Background for selected submenu
    color: #fff !important;
  }

  .ant-menu-item {
    color: #fff !important; // Ensures menu item text is white by default
  }
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: white; // Optional: Adds a background color for better visuals
  height: 120px; // Adjust to fit your logo size
  overflow: hidden; // Prevents any content from overflowing outside the container
}

.logo {
  max-height: 100%; // Ensures the logo's height fits within the container
  max-width: 100%; // Ensures the logo's width fits within the container
  object-fit: contain; // Maintains the aspect ratio of the logo
}

[class^="ant-menu"] {
  color: white !important;
}

.menuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    flex-grow: 1; // Ensures the text takes remaining space
  }
}

.LiveWrapper {
  height: 3vh;
  width: 25%;
  display: flex;
  margin-left: 1vw;
  border-radius: 1vh;
}

.LiveSectionFirst {
  width: 60% !important;
  background-color: white !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LiveSectionSecond {
  width: 40% !important;
  background-color: rgba(151, 19, 19, 1);
}

.LiveCircle {
  background-color: rgba(100, 100, 100, 1);
  height: 50%;
  width: 30%;
  border-radius: 50%;
}

.LiveSectionSecond {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  font-family: poppins;
}
