.trending_container {
    scrollbar-width: none; /* Firefox */
}

.trending_container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Edge */
}


[class^="ant-tabs"] {
    color: white !important;
  }
  