.trending_container {
  scrollbar-width: none; /* Firefox */
}

.trending_container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
}

[class^="ant-tabs"] {
  color: white !important;
}

.blogs {
  color: white !important;
}

/* Assuming you are using CSS Modules */

.reelWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Ensures content is clipped, just like reels */
}

.reelVideo {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the container */
  border-radius: 10px; /* Optional: Rounded corners like Instagram Reels */
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 500px; /* Adjust to the size you want */
  margin: 0 auto;
  border-radius: 10px; /* Optional: Rounded corners for the wrapper */
}

.sidebar {
  background-color: #03141e; // Dark background
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 100%;

  h3,
  h4 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #e6e6e6;
  }

  .header {
    .imageWrapper {
      position: relative;
      .mainImage {
        width: 100%;
        border-radius: 8px;
        margin-bottom: 0.5rem;
      }
      .actions {
        position: absolute;
        bottom: 10px;
        right: 10px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        .icon {
          font-size: 1.2rem;
          background: rgba(0, 0, 0, 0.5);
          padding: 8px;
          border-radius: 50%;
          color: white;
          text-align: center;
        }
      }
    }
  }

  .trendingNews {
    margin-top: 1rem;
    .newsItem {
      display: flex;
      gap: 1rem;
      margin-bottom: 1rem;
      .thumbnail {
        width: 50px;
        height: 50px;
        border-radius: 8px;
        object-fit: cover;
      }
      .newsTitle {
        font-size: 0.9rem;
        margin: 0;
      }
      .newsDate {
        font-size: 0.8rem;
        color: #aaa;
      }
    }
  }

  .exploreMore {
    .exploreImage {
      width: 100%;
      border-radius: 8px;
      margin-top: 0.5rem;
    }
  }

  .footer {
    text-align: center;
    font-size: 0.8rem;
    color: #888;
    margin-top: 1rem;
    p {
      margin: 0.2rem 0;
    }
  }
}
