.trending_container {
  scrollbar-width: none; /* Firefox */
}

.trending_container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
}

[class^="ant-tabs"] {
  color: white !important;
}

.blogs {
  color: white !important;
  background-color: #03141e !important; 
}




.sidebar {
  background-color: #03141e; // Dark background
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100%;

  h3,
  h4 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #e6e6e6;
    cursor: pointer;
  }

  .header {
    .imageWrapper {
      position: relative;
      height: 60vh;
      scrollbar-width: none; 
      overflow-x: scroll;
      .mainImage {
        width: 100%;
        border-radius: 8px;
        margin-bottom: 0.5rem;
      }
      .actions {
        position: absolute;
        bottom: 10px;
        right: 10px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        .icon {
          font-size: 1.2rem;
          background-color: #03141e; 
          padding: 8px;
          border-radius: 50%;
          color: white;
          text-align: center;
        }
      }
    }
  }

  .trendingNews {
    background-color: #03141e; 
    margin-top: 1rem;
    .newsItem {
      display: flex;
      gap: 1rem;
      margin-bottom: 1rem;
      .thumbnail {
        width: 50px;
        height: 50px;
        border-radius: 8px;
        object-fit: cover;
      }
      .newsTitle {
        font-size: 0.9rem;
        margin: 0;
      }
      .newsDate {
        font-size: 0.8rem;
        color: #aaa;
      }
    }
  }

  .exploreMore {
    background-color: #03141e; 
    .exploreImage {
      width: 100%;
      border-radius: 8px;
      margin-top: 0.5rem;
    }
  }

  .footer {
    background-color: #03141e; 
    text-align: center;
    font-size: 0.8rem;
    color: #888;
    margin-top: 1rem;
    p {
      margin: 0.2rem 0;
    }
  }
}


.imageStyle {
  width: 40vw !important;
  height: 30vh !important;
  border-radius: 2vh;
}

@media (min-width: 300px) and (max-width: 600px) {
  .imageStyle {
    width: 60vw !important;
    height: 14vh !important;
  }
}
